--index-url=https://repository.rnd.amadeus.net/repository/api/pypi/pypi/simple
-e .
-r requirements_doc.txt
-r requirements_test.txt
-r requirements_mypy.txt
esbonio
mypy
pylint
rstcheck
doc8
black
flake8
